@page
@model HRManagerNew.Pages.Departamentos.IndexModel
@{
    ViewData["Title"] = "Index Departamentos";
}
<h1>Index Departamentos</h1>

<p>
    <a asp-page="Create" class="btn btn-success">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.Departamentos[0].Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Departamentos[0].Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Departamentos[0].Ubicacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Departamentos[0].Empleado)
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Departamentos)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ubicacion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Empleado)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.Id" class="btn btn-warning">Edit</a>
                    <a asp-page="./Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                </td>
                <td>
                    <span></span>
                </td>
            </tr>

        }
    </tbody>
</table>

